/* Non-responsive. */
.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: repeat(5, 550px);
  margin: 0 auto;
  width: 1200px;
}

/* Style everything scoped to your <section> id! You do not need to use `display: grid` - just stick with the things we learned in class and be creative. */
